a {
color: #000;
}
.hd_blink, .inputWrap, #hd_navigate, #hd_search_form, #side, .sociala, .socialb, .socialc, .sociald, .sociale, .socialf, .socialj, .socialm, .socials, #footersearch, .hl_list_link, #tabs { display: none;}

#main { float: none;
 margin: 0px;
 padding: 0px;
 width: 100%;-moz-box-shadow: 0px 0px 0px #fff;
  -webkit-box-shadow: 0px 0px 0px #fff;  box-shadow: 0px 0px 0px #fff;}

.hl_box {
 width: 100%;
 float: none;
}
.hl_img {max-width: 60px}

#hl_box0,#hl_box1, #hl_box2, #hl_box3 {border: 0px;}

.artlisthead img {display: none;}

.hl_list_link {

}

#latest_small, .hide {
 display: block;
}

.closed {background-color: #fff;}


#header {display: none;}

#art_leftbox {display: none;}
#pagebody {margin-top: 0em;}
#jpage_m #article #iucr-art, #jpage_m #article #iucr-issue {
  float: left;
  border-left: 0px solid #000;
  padding-left: 1em;
  margin-bottom: 3em;
  padding-bottom: 0em;
  width: 100%;
}#jpage_a #article #iucr-art, #jpage_a #article #iucr-issue {
  float: left;
  border-left: 0px solid #000;
  padding-left: 1em;
  margin-bottom: 3em;
  padding-bottom: 0em;
  width: 100%;
}#jpage_b #article #iucr-art, #jpage_b #article #iucr-issue {
  float: left;
  border-left: 0px solid #000;
  padding-left: 1em;
  margin-bottom: 3em;
  padding-bottom: 0em;
  width: 100%;
}#jpage_c #article #iucr-art, #jpage_c #article #iucr-issue {
  float: left;
  border-left: 0px solid #000;
  padding-left: 1em;
  margin-bottom: 3em;
  padding-bottom: 0em;
  width: 100%;
}#jpage_d #article #iucr-art, #jpage_d #article #iucr-issue {
  float: left;
  border-left: 0px solid #000;
  padding-left: 1em;
  margin-bottom: 3em;
  padding-bottom: 0em;
  width: 100%;
}#jpage_e #article #iucr-art, #jpage_e #article #iucr-issue {
  float: left;
  border-left: 0px solid #000;
  padding-left: 1em;
  margin-bottom: 3em;
  padding-bottom: 0em;
  width: 100%;
}#jpage_f #article #iucr-art, #jpage_f #article #iucr-issue {
  float: left;
  border-left: 0px solid #000;
  padding-left: 1em;
  margin-bottom: 3em;
  padding-bottom: 0em;
  width: 100%;
}#jpage_j #article #iucr-art, #jpage_j #article #iucr-issue {
  float: left;
  border-left: 0px solid #000;
  padding-left: 1em;
  margin-bottom: 3em;
  padding-bottom: 0em;
  width: 100%;
}#jpage_s #article #iucr-art, #jpage_s #article #iucr-issue {
  float: left;
  border-left: 0px solid #000;
  padding-left: 1em;
  margin-bottom: 3em;
  padding-bottom: 0em;
  width: 100%;
}#jpage_x #article #iucr-art, #jpage_x #article #iucr-issue {
  float: left;
  border-left: 0px solid #000;
  padding-left: 1em;
  margin-bottom: 3em;
  padding-bottom: 0em;
  width: 100%;
}
.linkarrow {display: none;}

#ft_whoweare, #ft_linkbar {display: none;}